@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

/* html {
  --line-h: 16px;
  --nth-lines-trunc: 3;
} */

.card-description {
  /* line-height: var(--line-h);
  max-height: calc(var(--line-h) * var(--nth-lines-trunc));
  overflow: hidden;
  width: 95%;
  position: relative;
  padding-right: 10px;
  text-align: justify; */
  font-weight: 200;
  line-height: 24px;
}

.card-icon-name {
  display: flex;
}

/* .card-description::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
} */

.App {
  height: 100vh;
  width: 100vw;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: red solid 3px; */
  height: 10vh;
}

.header-search-icon {
  color: #7c4ec4;
}

.header-search-icon:hover {
  cursor: pointer;
}

.header-left {
  display: flex;
  align-items: center;
}

.header img {
  width: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
}

.header li {
  font-size: 12px;
  line-height: 24px;
  color: #616161;
  margin-left: 5px;
  padding: 5px;
}

.header li:hover {
  background-color: #7c4ec4;
  text-decoration: underline;
  color: white;
  font-weight: bolder;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header p {
  font-size: 12px;
}

.header-right img {
  width: 30px;
}

.add-listing {
  border: #7c4ec4 solid 1px;
  border-radius: 5px;
  padding: 5px;
  color: #7c4ec4;
  font-size: 16px;
  line-height: 24px;
}

.login {
  background-color: #7c4ec4;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  line-height: 24px;
}

/* BANNER */

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 45vh;
  width: 100%;
  color: white;
}

.banner input {
  width: 500px;
  height: 20px;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px;
  border: none;
}

.banner-shape {
  width: 100%;
  object-position: right;
  height: 150px;
  margin-top: -60px;
}

.banner img {
  width: 100%;
  object-fit: cover;
  object-position: right;
}

.banner-search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-search-icon-p {
  background: #7c4ec4;
  padding: 6px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.banner-title {
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 20px;
  font-weight: 800;
}

.banner-ref {
  font-size: 8px;
  margin-top: 50px;
  margin-left: 90%;
}

/* FOODLIST */

.foodList {
  /* border: solid black 3px; */
  width: 80vw;
  margin: 0 auto;
  /* background: grey; */
  padding: 0 25px 0 25px;
}

.foodList-title {
  display: flex;
  justify-content: space-between;
  color: #292929;
  font-weight: 800;
  font-size: 24px;
}

.cardList {
  /* border: blue solid 3px; */
  height: 80vh;

  /* display: flex;
  justify-content: space-around; */
  /* align-items: center;  */
  /* overflow: hidden;
  overflow-x: scroll; */
}

/* CARD */

.card {
  /* width: 25%; */
  /* border: solid rosybrown 3px; */
  flex-shrink: 0;
  position: relative;
  font-size: 18px;
  font-weight: 800;
  margin-top: 30px;
}

.card-town {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}

.card-place-name {
  margin-top: 10px;
  font-size: 14px;
  color: #21820d;
  text-decoration-line: none;
  margin-bottom: 10px;
  font-weight: 800;
}

.card-rating {
  margin-top: 10px;
  font-size: 14px;
}

.card-description {
  margin-top: 10px;
  font-size: 12px;
  color: #444;
  font-weight: 200;
}

.icon {
  width: 20px;
}

.card-thumbnail {
  width: 95%;
  border-radius: 10px;
  height: 45%;
  margin-left: 5px;
  margin-top: 5px;
}

.favori-heart {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 0;
  right: 0;
}

/* PLACE */

.place-header {
  height: 30vh;
  border: solid fuchsia 3px;
}

.vegetarian-fushia {
  background: #8a2091;
}

.vegan-green {
  background: #21820d;
}

.catering-blue {
  background: #2eb3a5;
}

.ice_cream-pink {
  background: #f04e86;
}

.veg-options-red {
  background: #d65c5b;
}

.health_store-yellow {
  background: #b79e12;
}

.food-truck-orange {
  background: #ea5a2e;
}

.others-blue {
  background: #3671be;
}

/*LOGIN SIGNUP */

.popup-wrapper {
  width: 70%;
  /* border: solid black 3px; */
  min-height: 80vh;
  max-height: 90vh;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.popup-imgbg {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.popup-form {
  /* background: pink; */
  padding: 10px 20px 10px 20px;
  min-width: 55%;
  min-height: 80vh;
}

.popup-title {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-text {
  color: white;
}

.popup-select {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  color: #292929;
}

.popup-log:hover {
  opacity: 0.75;
  text-decoration: underline;
  cursor: pointer;
  color: #7c4ec4;
}

.popup-sign:hover {
  opacity: 0.75;
  text-decoration: underline;
  cursor: pointer;
  color: #7c4ec4;
}

/* LOGIN / SIGNUP */

.login-signup-wrapper {
  /* border: solid crimson 2px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #292929;
  margin-top: 15px;
  font-size: 14px;
  max-height: 100%;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.social img {
  width: 20px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.login-signup-wrapper p {
  color: #616161;
  font-weight: 200;
  font-size: 10px;
  line-height: 24px;
}

.mem-password {
  display: flex;
  justify-content: space-between;
}

label {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 12px;
}

input {
  margin-top: 5px;
  padding-right: 150px;
  outline: none;
}

.submit-signup {
  background: #7c4ec4;
  padding: 3px 0;
  margin-top: 5px;
  color: white;
  font-weight: 500;
}

.submit-login {
  background: #7c4ec4;
  margin-top: 30px;
  color: white;
  font-weight: 500;
  padding: 3px 0;
}

.cross {
  position: absolute;
  top: 10px;
  right: 10px;
}
