@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

html {
  --line-h: 16px;
  --nth-lines-trunc: 3;
}

.card-description {
  line-height: var(--line-h);
  max-height: calc(var(--line-h) * var(--nth-lines-trunc));
  overflow: hidden;
  width: 95%;
  position: relative;
  padding-right: 10px;
  text-align: justify;
}

.card-icon-name {
  display: flex;
}

.card-description::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
}
.App {
  height: 100vh;
  width: 100vw;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: red solid 3px;
  height: 10vh;
}

.header-left {
  display: flex;
  align-items: center;
}

.header img {
  width: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right img {
  width: 30px;
}

.add-listing {
  border: purple solid 1px;
  border-radius: 5px;
  padding: 10px;
}

.login {
  background-color: purple;
  padding: 10px;
  border-radius: 5px;
}

/* BANNER */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 45vh;
  width: 100%;
  color: white;
}

.banner input {
  padding: 10px;
}

.banner img {
  width: 100%;
  object-fit: cover;
  object-position: right;
}

.banner-search-icon img {
  width: 20px;
  background-color: purple;
  padding: 10px;
}

/* FOODLIST */

.foodList {
  width: 100%;
  border: solid black 3px;
  width: 80vw;
  margin: 0 auto;
}

.foodList-title {
  display: flex;
  justify-content: space-between;
}

.cardList {
  border: blue solid 3px;

  height: 70vh;
  display: flex;
  justify-content: space-around;
  /* align-items: center;  */
  /* overflow: hidden; */
  overflow-x: scroll;
}
/* CARD */

.card {
  width: 25%;
  border: solid rosybrown 3px;
  flex-shrink: 0;
  position: relative;

  font-size: 14px;
}

.icon {
  width: 20px;
}

.thumbnail {
  width: 100%;
}

.favori-heart {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 0;
  right: 0;
}

/* PLACE */

.place-header {
  height: 30vh;
  border: solid fuchsia 3px;
}

.vegetarian-fushia {
  background: #8a2091;
}

.vegan-green {
  background: #21820d;
}

.catering-blue {
  background: #2eb3a5;
}

.ice_cream-pink {
  background: #f04e86;
}

.veg-options-red {
  background: #d65c5b;
}

.health_store-yellow {
  background: #b79e12;
}

.food-truck-orange {
  background: #ea5a2e;
}

.others-blue {
  background: #3671be;
}
